#cloud-config
users:
  - name: ansible
    gecos: Ansible Automation User
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIM+aPm+215Sq5EZBNoDL7d/E31JyIyYHpsiuuTOsw/H3

ssh_pwauth: false
package_update: true